name: rssp Parity Test

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted 

    steps:
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
    
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
        lfs: false
        
    - name: Run Tests
      run: cargo test --release --verbose
